<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专家预约系统--后台管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="/expertList" style="font-size: 1.5rem">expertList</a>
        </li>
        <li>
            <a href="/teacherList" style="font-size: 1.5rem">teacherList</a>
        </li>
        <li>
            <a href="/serviceList" style="font-size: 1.5rem">serviceList</a>
        </li>
        <li>
            <a href="/orderList" style="font-size: 1.5rem">orderList</a>
        </li>
        <li>
            <a href="/studentList" style="font-size: 1.5rem">studentList</a>
        </li>
        <!--<li>-->
            <!--<a href="#" style="font-size: 1.5rem">orderList</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#" style="font-size: 1.5rem">studentList</a>-->
        <!--</li>-->
        <li>
            <a href="/institudeList" style="font-size: 1.5rem">institudeRankList</a>
        </li>
        <li>
            <a href="/majorList" style="font-size: 1.5rem">majorRankList</a>
        </li>
    </ul>
</nav>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="page-header">Add an expert</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Expert info
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label>Telephone</label>
                            <input class="form-control" id="telephone">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <input class="form-control" id="position">
                        </div>
                        <div class="form-group">
                            <label>Introduction</label>
                            <textarea class="form-control" rows="5" style="resize: vertical;" id="introduction"></textarea>
                        </div>
                        <div class="form-group">
                            <label>School</label>
                            <input class="form-control" id="school">
                        </div>
                        <div class="form-group">
                            <label>Major</label>
                            <input class="form-control" id="major">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input class="form-control" id="website">
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input class="form-control" id="country">
                        </div>
                        <div class="form-group">
                            <label>ResearchInterest</label>
                            <input class="form-control" id="researchInterest">
                        </div>
                        <div class="form-group">
                            <label>FirstName</label>
                            <input class="form-control" id="firstName>
                        </div>
                        <div class="form-group">
                            <label>FamilyName</label>
                            <input class="form-control" id="familyName">
                        </div>
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-default" id="addExpert">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/sb-admin-2.js"></script>

<script src="../js/addExpert.js"></script>
</body>
</html>